{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": false,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "es5"
}
